<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./static/login.css">
</head>
<body>
    <div id="container">
        <div id="content">
            <form action="/login" method="POST">
                <table>
                    <tr>
                        <td><a href="signup" id="signButton">Sign up</a></td>
                        <td><a href="login" id="logButton">Log in</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</body>
</html>